<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}

{% extends 'base.html' %}
{% block content %}

	<div class="new_post">
		<h1>Password change</h1>
		<p>Please enter your old password, for security's sake, and then enter
		your new password twice so we can verify you typed it in correctly.</p>
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
			<div>
				<button>Publish</button>
			</div>
		</form>

	</div>
		<form method="POST">
			{% csrf_token%}
			{{form.as_p}}
			<div>
				<button>Password_reset
				</button>
			</div>
		</form>
	
{% endblock  %}
			
